[Unit]
Description=Cliphist clipboard history (Images)
After=graphical-session.target

[Service]
ExecStart=/usr/bin/wl-paste --type image --watch /usr/local/bin/cliphist -max-items 25 store
Restart=on-failure

[Install]
WantedBy=default.target