[Desktop Entry]
Name=Clipboard Manager
GenericName=Clipboard Manager
Comment=Manage clipboard history
Exec=cosmic-clipboard-manager
Icon=cosmic-clipboard-manager
Type=Application
Categories=Utility;GTK;
Terminal=false
StartupNotify=true
StartupWMClass=cosmic-clipboard-manager
